.J1 {
    width: 16vh;
    height: 8vh;
    border-radius: 2vh;
    background-color: #0D1C41;
    text-align: center;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.6);
    padding-top: 1vh;
    margin-top: 0.8vh;
    margin-right: 0.8vh;
    margin-left: 0.8vh;
}
